# Required Python packages for the Insect Detect DIY camera trap (Raspberry Pi + OAK-1)
# to use the DepthAI API (https://docs.luxonis.com/projects/api/en/latest/)
# Website: https://maxsitt.github.io/insect-detect-docs/

# First, install the dependencies for Raspberry Pi + OAK with:
# sudo curl -fL https://docs.luxonis.com/install_dependencies.sh | bash

# If you are using Raspberry Pi Zero W (v1.1), install libusb-1.0 with:
# sudo apt-get install libusb-1.0-0-dev

# Install packages with:
# python3 -m pip install -r requirements.txt

depthai==2.22.0.0
opencv-contrib-python==4.5.5.62
numpy==1.25.0
pandas==2.0.2
psutil==5.9.5
APScheduler==3.10.1
av==10.0.0