# Required Python packages for the Insect Detect DIY camera trap (Raspberry Pi + OAK-1)
# to use the DepthAI SDK (https://docs.luxonis.com/projects/sdk/en/latest/)
# Docs: https://maxsitt.github.io/insect-detect-docs/

# First, install the dependencies for Raspberry Pi + OAK with:
# sudo curl -fL https://docs.luxonis.com/install_dependencies.sh | bash

# Install the package libopenblas-dev (required for latest numpy version):
# sudo apt install libopenblas-dev

# If you are using Raspberry Pi Zero W (v1.1), install libusb-1.0 with:
# sudo apt install libusb-1.0-0-dev

# Install the required packages with:
# python3 -m pip install -r insect-detect/sdk/requirements_sdk.txt

# After installing these packages, install the depthai-sdk package with:
# python3 -m pip install --no-dependencies depthai-sdk==1.13.1

depthai==2.25.0.0
depthai-pipeline-graph==0.0.5
opencv-python==4.6.0.66
numpy==1.26.4
psutil==5.9.8
av==10.0.0
PyTurboJPEG==1.7.2
marshmallow==3.20.1
xmltodict==0.13.0
Qt.py==1.3.7
types-pyside2==5.15.2.1.6
PyYAML==6.0.1
jmespath==1.0.1
six==1.16.0
requests==2.31.0
AHRS==0.3.1